<p>
	<label for="preg" class="rem">Pregunta:</label>
	<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/>
</p>

<p>
	<label for="resp" class="rem">Respuesta:</label>
	<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/>
</p>

<p>
	<label for="tema" class="rem">Temática:</label>
	<select id="tema" name="quiz[tematica]">
	  <option value="">Seleccione una temática</option>
	  <option value="Ciencia" <%= quiz.tematica === 'ciencia' ? 'selected' : '' %> >Ciencia</option>
	  <option value="Humanidades" <%= quiz.tematica === 'Humanidades' ? 'selected' : '' %> >Humanidades</option>
	  <option value="Ocio" <%= quiz.tematica === 'Ocio' ? 'selected' : '' %> >Ocio</option>
	  <option value="Tecnología" <%= quiz.tematica === 'Tecnologia' ? 'selected' : '' %> >Tecnología</option>
	  <option value="Otros" <%= quiz.tematica === 'Otros' ? 'selected' : '' %> >Otros</option>
	</select>	
</p>


<a href="/quizes"><button type="button">Cancelar</button></a>

<input type="submit" value="Guardar" />